<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home-page.css}" type="text/css">
    <title>Home Page</title>
</head>

<body>
    <h1>Home Page</h1>
    <h2>Hello To My World</h2>
    <a href="/showMyLoginPage">Login</a>
    <a href="/users">Users</a>
    <a href="/admin">Admin</a>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>

    <div sec:authorize="isAuthenticated()"> Authenticated as <span sec:authentication="name"></span></div>
</body>